In [5]:
!pip install pandas
import pandas as pd
bos2017 = pd.read_csv('./redsox_2017_hitting.txt' , sep =',')
bos2017
bos2018 = pd.read_csv('./redsox_2018_hitting.txt' , sep =',')
bos2018

Requirement already satisfied: pandas in /Users/kateriwang/opt/anaconda3/lib/python3.8/site-packages (1.1.3)
Requirement already satisfied: numpy>=1.15.4 in /Users/kateriwang/opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/kateriwang/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/kateriwang/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/kateriwang/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,C,Sandy Leon,29,89,288,265,30,47,12,...,0.232,0.279,0.511,37,74,6,4,3,1,0
1,2,1B,Mitch Moreland,32,124,459,404,57,99,23,...,0.325,0.433,0.758,102,175,12,0,0,5,2
2,3,2B,Eduardo Nunez,31,127,502,480,56,127,23,...,0.289,0.388,0.677,81,186,17,2,1,3,0
3,4,SS,Xander Bogaerts,25,136,580,513,72,148,45,...,0.360,0.522,0.883,135,268,14,6,0,6,4
4,5,3B,Rafael Devers,21,121,490,450,59,108,24,...,0.298,0.433,0.731,94,195,9,0,0,2,6
5,6,LF,Andrew Benintendi,23,148,661,579,103,168,41,...,0.366,0.465,0.830,123,269,9,2,2,7,1
6,7,CF,Jackie Bradley Jr.,28,144,535,474,76,111,33,...,0.314,0.403,0.717,92,191,6,11,0,4,3
7,8,RF,Mookie Betts,25,136,614,520,129,180,47,...,0.438,0.640,1.078,186,333,5,8,0,5,8
8,9,DH,J.D. Martinez,30,150,649,569,111,188,37,...,0.402,0.629,1.031,173,358,19,4,0,7,11
9,10,MI,Brock Holt,30,109,367,321,41,89,18,...,0.362,0.411,0.774,109,132,7,7,0,2,2
10,11,C,Christian Vazquez,27,80,269,251,24,52,10,...,0.257,0.283,0.540,46,71,5,4,1,0,1
11,12,UT,Blake Swihart,26,82,207,192,28,44,10,...,0.285,0.328,0.613,65,63,4,0,0,0,0
12,13,UT,Hanley Ramirez,34,44,195,177,25,45,7,...,0.313,0.395,0.708,90,70,9,2,0,2,0
13,14,1B,Steve Pearce,35,50,165,136,19,38,8,...,0.394,0.507,0.901,141,69,1,5,0,2,0
14,15,2B,Ian Kinsler,36,37,143,132,17,32,6,...,0.294,0.311,0.604,64,41,5,0,0,1,0
15,16,SS,Tzu-Wei Lin,24,37,73,65,15,16,6,...,0.329,0.415,0.744,100,27,0,0,0,0,0
16,17,UT,Sam Travis,24,19,38,36,5,8,3,...,0.263,0.389,0.652,73,14,1,0,0,0,0
17,18,UT,Brandon Phillips,37,9,27,23,4,3,0,...,0.259,0.261,0.520,42,6,1,0,0,0,0
18,19,2B,Dustin Pedroia,34,3,13,11,1,1,0,...,0.231,0.091,0.322,-7,1,0,0,0,0,0
19,20,C,Dan Butler,31,2,7,6,0,1,0,...,0.143,0.167,0.310,-17,1,0,0,0,1,0

In [7]:
bos2017.head()

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,C,Christian Vazquez,26,99,345,324,43,94,18,...,0.330,0.404,0.735,91,131,14,3,0,1,0
1,2,1B,Mitch Moreland,31,149,576,508,73,125,34,...,0.326,0.443,0.769,99,225,14,6,0,5,6
2,3,2B,Dustin Pedroia,33,105,463,406,46,119,19,...,0.369,0.392,0.760,100,159,11,2,2,4,4
3,4,SS,Xander Bogaerts,24,148,635,571,94,156,32,...,0.343,0.403,0.746,95,230,17,6,0,2,6
4,5,3B,Rafael Devers,20,58,240,222,34,63,14,...,0.338,0.482,0.819,111,107,5,0,0,0,3

In [8]:
print(bos2017.columns)

Index(['Rk', 'Pos', 'Name', 'Age', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB',
       'GDP', 'HBP', 'SH', 'SF', 'IBB'],
      dtype='object')

In [12]:
new_team = 'BOS'
new_hr = bos2017['HR'].sum()
new_rbi = bos2017['RBI'].sum()
print(f'2017: {new_team}, {new_hr}, {new_rbi}')

2017: BOS, 168, 735

In [13]:
new_team = 'BOS'
new_hr = bos2017['HR'].sum()
new_rbi = bos2018['RBI'].sum()
print(f'2018: {new_team}, {new_hr}, {new_rbi}')

2018: BOS, 168, 826

In [ ]:
#find average age of runners in the 2017 boston marathon

In [15]:
bmarathon17 = pd.read_csv('./boston_marathon2017_edited.csv', sep =',')
bmarathon17.head()

,10K,15K,20K,25K,30K,35K,40K,5K,Age,Bib,...,Division,Gender,Half,M/F,Name,Number of Records,Official Time,Overall,Pace,State
0,12/30/1899 12:30:28 AM,12/30/1899 12:45:44 AM,12/30/1899 1:01:15 AM,12/30/1899 1:16:59 AM,12/30/1899 1:33:01 AM,12/30/1899 1:48:19 AM,12/30/1899 2:02:53 AM,12/30/1899 12:15:25 AM,24,11.0,...,1,1,12/30/1899 1:04:35 AM,M,"Kirui, Geoffrey",1,12/30/1899 2:09:37 AM,1,12/30/1899 12:04:57 AM,NaN
1,12/30/1899 12:30:27 AM,12/30/1899 12:45:44 AM,12/30/1899 1:01:15 AM,12/30/1899 1:16:59 AM,12/30/1899 1:33:01 AM,12/30/1899 1:48:19 AM,12/30/1899 2:03:14 AM,12/30/1899 12:15:24 AM,30,17.0,...,2,2,12/30/1899 1:04:35 AM,M,"Rupp, Galen",1,12/30/1899 2:09:58 AM,2,12/30/1899 12:04:58 AM,OR
2,12/30/1899 12:30:29 AM,12/30/1899 12:45:44 AM,12/30/1899 1:01:16 AM,12/30/1899 1:17:00 AM,12/30/1899 1:33:01 AM,12/30/1899 1:48:31 AM,12/30/1899 2:03:38 AM,12/30/1899 12:15:25 AM,25,23.0,...,3,3,12/30/1899 1:04:36 AM,M,"Osako, Suguru",1,12/30/1899 2:10:28 AM,3,12/30/1899 12:04:59 AM,NaN
3,12/30/1899 12:30:29 AM,12/30/1899 12:45:44 AM,12/30/1899 1:01:19 AM,12/30/1899 1:17:00 AM,12/30/1899 1:33:01 AM,12/30/1899 1:48:58 AM,12/30/1899 2:04:35 AM,12/30/1899 12:15:25 AM,32,21.0,...,4,4,12/30/1899 1:04:45 AM,M,"Biwott, Shadrack",1,12/30/1899 2:12:08 AM,4,12/30/1899 12:05:03 AM,CA
4,12/30/1899 12:30:28 AM,12/30/1899 12:45:44 AM,12/30/1899 1:01:15 AM,12/30/1899 1:16:59 AM,12/30/1899 1:33:01 AM,12/30/1899 1:48:41 AM,12/30/1899 2:05:00 AM,12/30/1899 12:15:25 AM,31,9.0,...,5,5,12/30/1899 1:04:35 AM,M,"Chebet, Wilson",1,12/30/1899 2:12:35 AM,5,12/30/1899 12:05:04 AM,NaN

In [16]:
mean_age=bmarathon17.describe()['Age']['mean']
print(mean_age)

42.587731919727375